{% extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block content%}
<div class="container">

	<div class="jumbotron" style=" background-color:#300E1A">

			<h2 class = 'text-center' style="color:#ffffff; font-weight: 600;" > {{title}} Headlines</h2>
			<p class ='text-center' style="color:#ffffff;"><i>{{slogan}}</i></p> 
	</div>
				

	
	{% for article_item in articles | batch(3)%}

		
		
		
    <div class ="row">
			{% for article in article_item %}
		<div class="col-md-4">
			<div class="panel panel-default">
					
				<a href="{{article.url}}" target="_blank">
					<img src="{{article.urlToImage}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
				</a>

				<div class="caption ml-2  mr-2">
					<h4><a href="{{article.url}}" target="_blank">{{article.title |truncate(35)}}</a></h4>
					<p>{{article.description | truncate(80)}}</p>
					<p>Published at: {{article.publishedAt}}</p>
						        
				</div>
				<div class="footer">
					<a href="{{article.url}}" target="_blank" class ="btn btn-dark btn-sm"  style="background-color:#0f0f0f; color:#ffffff"> Read More</a>
				</div>
			</div>


		</div>
		
			{% endfor %}
		
	</div>
		
	{% endfor %}
	
	
</div>


{%endblock%}

 